/*Navbar*/

.custom-link {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #29ABE2 !important;
}

.active {
    color: #c6002a !important;
}