<div class="card-flip">
    <div class="card">
        <div class="card-front">
            <div class="card-image-border">
                <img class="card-image" src="{{card.image_url}}" alt="Laptop">
            </div>
            <h2 class="text-center mt-5">{{card.title}}</h2>
        </div>
        <div class="card-back">
            <div class="card-content">
                <h2>Info</h2>
                <h3 class="p-4">Ervaart u problemen met uw laptop? Software die niet installeert of bevat hij mogelijk een virus? Wij kunnen u helpen dit op te lossen zodat u weer snel aan de slag kunt.
                </h3>
            </div>
        </div>
    </div>
</div>