<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="landing-text">
                    <div>
                        <h1 class="mb-3">ICT ondersteuning <br>door studenten</h1>
                    </div>
                    <div>
                        <h3>Geen tussenpersoon, geen commissie.</h3>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a href="#contact" type="button" class="btn btn-primary">Maak afspraak</a>
            </div>
        </div>
    </div>
</section>

<div class="divider"></div>

<section id="services">
    <ictutor-services></ictutor-services>
</section>

<div class="divider"></div>

<section id="prices">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <h2 class="light-title">Onze prijzen</h2>
                <h3 class="dark-subtitle mb-5">Bij ons geen verrassingen.</h3>
                <ul class="price-list">
                    <li>💶 Ons uurtarief bedraagt: <span class="black-text bold-text">€33</span>, inclusief voorrijkosten.</li>
                    <li>⏳ Minimale afname: één uur, om u optimaal van dienst te zijn.</li>
                    <li>🕒 Na het eerste uur: <span class="black-text bold-text">€8,25</span> per extra kwartier.</li>
                    <li>☎️ Kosteninschatting vooraf: tijdens het intakegesprek.</li>
                </ul>
            </div>
            <div class="d-none d-lg-inline col-lg-5 my-auto">
                <img class="img-center img-fluid" src="/assets/images/price_image.jpg" alt="image_of_piggybank">
            </div>
        </div>
    </div>
</section>

<div class="divider"></div>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-inline col-lg-7 my-auto">
                <img class="img-center img-fluid" src="/assets/images/about_us_image.png" alt="about_image">
            </div>
            <div class="col-12 col-lg-5">
                <h2>Over ons</h2>
                <h3 class="mb-5">Wie zijn wij precies?</h3>
                <p>Wij zijn informaticastudenten aan de Avans Hogeschool in Breda. Tijdens onze ervaring bij een IT-hulp-aan-huisbedrijf hebben we opgemerkt dat klanten vaak hoge commissies betalen voor onze hulp. Daarom introduceren we ICTutor, waarbij
                    u direct in contact staat met de studenten die u helpen, zonder tussenpersoon en extra commissiekosten.</p>
            </div>
        </div>
    </div>
</section>

<div class="divider"></div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="light-title text-center">Interesse?</h2>
                <h3 class="dark-subtitle text-center mb-5">Laat een berichtje achter en we bellen u terug.</h3>
            </div>
        </div>
    </div>
</section>