<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="landing-text">
                    <div>
                        <h1 class="d-inline">ICT ondersteuning aan huis <br>door studenten</h1>
                    </div>
                    <div>
                        <h3 class="d-inline">Geen tussenpersoon, geen commissie.</h3>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a href="#contact" type="button" class="btn btn-primary">Maak afspraak</a>
            </div>
        </div>
    </div>
</section>
<div class="divider"></div>