/*Hero*/

#hero {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("/assets/images/landing_image.jpg");
}

.landing-text {
    background-color: rgba(255, 255, 255, 0.623);
    display: inline-block;
    padding: 30px;
    border-radius: 8px;
    margin-top: 12vh;
    margin-bottom: 10px;
}

#prices,
#contact {
    background-color: #29ABE2;
    padding: 80px 0px;
}

.price-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.price-list li {
    color: white;
    font-size: 22px;
    margin: 25px 0 0 0;
    font-weight: bolder;
}

.black-text {
    color: black !important;
}

#about {
    padding: 80px 0px;
}